<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '622929');
    </script>
    <!-- End MailerLite Universal -->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SiChris Productions", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            @{
                ViewBag.Mastodon = "https://mastodon.gamedev.place/@simonchris1729";
                ViewBag.Bluesky = "https://bsky.app/profile/simonchris.bsky.social";
                ViewBag.Threads = "https://www.threads.net/@simonchris1729";
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Games", "", "Games")</li>
                    <li>@Html.ActionLink("Fiction", "", "Fiction")</li>
                    <li>@Html.ActionLink("Poetry", "", "Poetry")</li>
                    <li>@Html.ActionLink("Science", "", "Science")</li>
                    <li>@Html.ActionLink("Tech Support", "Support", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a rel="me" target="_blank" href="@ViewBag.Threads">
                            <img src="../Images/Threads.png" width="19" height="20" />
                        </a>
                    </li>
                    <li>
                        <a rel="me" target="_blank" href="@ViewBag.Bluesky">
                            <img src="../Images/Bluesky.png" width="19" height="20" />
                        </a>
                    </li>
                    <li>
                        <a rel="me" target="_blank" href="@ViewBag.Mastodon">
                            <img src="../Images/MastodonLogo.png" width="19" height="20" />
                        </a>
                    </li>
                </ul>
                <!--@Html.Partial("_LoginPartial")-->
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SiChris Productions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
